/* Basisstijl */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

header img.banner {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
}

header h1 {
    margin: 0;
}

nav {
    background-color: #666;
    color: #fff;
    padding: 10px;
    text-align: center;
}

nav a {
    display: inline-block;
    color: #fff;
    padding: 10px;
    text-decoration: none;
}

nav a:hover {
    background-color: #333;
}

main {
    padding: 20px;
    flex: 1;
}

h2 {
    text-align: center;
}

.info, .links, .image, .extra-logo {
    text-align: center;
    margin-bottom: 20px;
}

.icon {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.pen-image {
    width: 300px; /* Set beide afbeeldingen op dezelfde breedte */
    height: auto;
    max-width: 100%; /* Zorg ervoor dat de afbeeldingen responsief blijven */
    margin-bottom: 10px; /* Ruimte toevoegen tussen afbeeldingen */
}

.rd-logo {
    width: 150px;
    height: auto;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
    width: 100%;
}

/* Responsieve stijl */
@media (max-width: 768px) {
    footer {
        position: static;
        padding: 20px;
    }
    /* Agenda stijl */
.agenda {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.agenda h2 {
    margin: 0;
    font-size: 1.5em;
    color: #333;
}

.agenda p {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #666;
}
